@import '../variables';

.categories {
  ul {
    display: flex;

    li {
      background-color: #f6f6f6;
      padding: 13px 30px;
      border-radius: 30px;
      margin-right: 10px;
      font-weight: bold;
      border: 1px solid $greenThemeLight;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;
      @include noselect();

      &:hover {
        background-color: darken($greenTheme, 2%);
        color: #fff;
      }

      &:active {
        background-color: darken($greenTheme, 5%);
      }

      &.active {
        background-color: $greenTheme;
        color: #fff;
      }
    }
  }
}
