@import '../variables';

.pizza-block {
  width: 100%;
  max-width: 320px;
  text-align: center;
  margin-bottom: 65px;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-right: 2.2%;

  &:hover{
    transform: scale(1.03);
  }

  &:nth-child(3) {
    margin-right: 0;
    margin-left: 100px;
  }
  &:nth-child(2) {
    margin-left: 100px;
  }
  &:nth-child(5) {
    margin-left: 100px;
  }
  &:nth-child(6) {
    margin-right: 0;
    margin-left: 100px;
  }

  &:not(:nth-of-type(4n)) {
    
  }

  &__image {
    width: 100%;
    max-width: 300px;
  }

  &__title {
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 1%;
    margin-bottom: 20px;
  }

  &__selector {
    display: flex;
    background-color: #f3f3f3;
    border-radius: 10px;
    flex-direction: column;
    padding: 6px;

    ul {
      display: flex;
      flex: 1;

      &:first-of-type {
        margin-bottom: 6px;
      }

      li {
        padding: 8px;
        flex: 1;
        cursor: pointer;
        font-weight: 600;
        font-size: 14px;
        @include noselect();
        &.active {
          background: #ffffff;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
          border-radius: 5px;
          cursor: auto;
        }totalPrice
        &.disabled {
          opacity: 0.4;
          pointer-events: none;
        }
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }

  &__price {
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.015em;
  }
}
