@import "../../scss/variables";
.footer{
    position: absolute;
    display: flex;
    right: 125px;
    bottom: 100px;
    width: 100%;
    max-width: 250px;
    flex-direction: column;
    text-align: center;
    transition: all 0.3s ease;
    .titleWrapper{
        display: flex;
        width: 100%;
        justify-content: center;
        padding-bottom: 10px;
        transition: all 0.3s ease;
        .title{
            font-weight: 800;
            font-size: 20px;
            color: $greenTheme;
            letter-spacing: 4px;
            line-height: 22px;
            position: relative;
            cursor: pointer;
        }
        .titleActive{
            animation: titleActiveAnimation 4s infinite;
            font-weight: 800;
            font-size: 20px;
            color: $greenTheme;
            letter-spacing: 4px;
            line-height: 22px;
            position: relative;
            cursor: pointer;
        }
    }
    
    .socialWrapper{
        display: flex;
        padding-top: 15px;
        width: 100%;
        justify-content: space-around;
        transition: all 0.2s ease;
        background-color: lighten($greenThemeLight, 20%);
        border-radius: 20px;
        padding: 10px;
        animation: wrapper-animation 4s infinite;
        position: absolute;
        top: 30px;

       
        .socialItem{
            border: 1px solid $greenTheme;
            padding: 6px;
            border-radius: 100%;
            width: 40px;
            height: 40px;
            transition: all 0.3s ease;
           
            &:hover{
                background-color: $greenTheme;
                color: #fff;
                transform: scale(1.1);
                svg{
                    fill: #fff;
                    transform: scale(1.1);
                }
            }
        }
    }
}

@keyframes wrapper-animation {
    0%     {background-color:lighten($greenThemeLight, 10%)}
    50.0% {background-color:lighten($greenThemeLight, 25%)}
    100.0%  {background-color:lighten($greenThemeLight, 10%)}
}

@keyframes titleActiveAnimation {
    0% {transform: scale(1); color: $greenTheme}
    50.0% {transform: scale(1.2); color: lighten($greenThemeLight, 15%)}
    100.0% {transform: scale(1); color: $greenTheme}
    
}